<% content_for :title, message.subject %>

<div class="message" id="<%= dom_id message %>">
  <ul class="headers">
    <li>From: <%= message.from %></li>
    <li>Date: <%= message.published_at %></li>
    <li>Subject: <%= message.subject %></li>
  </ul>
  <pre><%= message.body %></pre>
</div>
