<p style="color: green"><%= notice %></p>

<h1>Messages</h1>

<ul>
  <% @messages.each do |message| %>
    <li>
      <% list_name = List.find_by_id(message.list_id).name %>
      <%= list_name %>:<%= message.list_seq %>
      <%= link_to message.subject, "/#{list_name}/#{message.list_seq}" %>
      <small><%= message.body %></small>
    </li>
  <% end %>
</ul>
